{% extends "base.html" %}

{% block lab %}Лабораторная работа 6{% endblock %}

{% block script %}
<script>
    function getOfficeList() {
        const url = '/lab6/json-rpc-api/';
        const json = {
            'jsonrpc': '2.0',
            'method': 'info',
            'id': Math.round(Math.random() * 1000)
        };
        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(json)
        })
        .then(response => response.json())
        .then(data => {
            const office_list = data.result;
            const ul = document.getElementById('office-list');
            ul.innerHTML = ''; 
            office_list.forEach(office => {
                const li = document.createElement('li');
                li.innerText =  `${office.number}: ${office.tenant || 'свободен'}`;
    
                const bookingButton = document.createElement('button');
                bookingButton.innerText = 'зарезервировать';
                bookingButton.onclick = () => booking(office.number);
                li.appendChild(bookingButton);
    
                if (office.tenant) { 
                    const releaseButton = document.createElement('button');
                    releaseButton.innerText = 'освободить';
                    releaseButton.onclick = () => release(office.number);
                    li.appendChild(releaseButton);
                }
    
                ul.appendChild(li);
            });
        });
    }

    function release(officeNumber) {
        const url = '/lab6/json-rpc-api/';
        const json = {
            'jsonrpc': '2.0',
            'method': 'release',
            'params': officeNumber,
            'id': Math.round(Math.random() * 1000)
        };
        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(json)
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                alert(data.error.message || 'Произошла ошибка');
            } else {
                getOfficeList();
            }
        });
    }

    document.addEventListener('DOMContentLoaded', getOfficeList);
</script>
{% endblock %}

{% block main %}
    <h1>Список кабинетов</h1>
    <ul id="office-list"></ul>
{% endblock %}
