{% extends "base.html" %}

{% block lab %}Заказ зерна{% endblock %}

{% block main %}
    <h1>Заказ зерна</h1>
        <form method="POST" action="/order_grain">
            <select name="grain_type" required>
                <option value="barley">Ячмень</option>
                <option value="oats">Овёс</option>
                <option value="wheat">Пшеница</option>
                <option value="rye">Рожь</option>
            </select>
                <input type="number" name="weight" placeholder="Вес в тоннах" required>
                <input type="submit" value="Сформировать заказ">
        </form>
{% endblock %}
