{% extends "base.html" %}

{% block lab %}Список пользователей{% endblock %}

{% block main %}
    <h1>Список пользователей</h1>
    <ul>
        {% for user in users %}
            <li>{{ user.name }} ({{ user.login }}) 
                <form action="/lab4/delete/{{ user.login }}" method="post">
                    <button>Удалить</button>
                </form>
                <form action="/lab4/edit/{{ user.login }}" method="get">
                    <button>Редактировать</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
