<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Санданова Виктория. {% block lab %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='static\favicon.jpg') }}" type="image/x-icon">
    <script>
        error (

        )
    </script>
</head>
<body>
    <header>
        WEB-программирование, часть 2. {{ self.lab() }}
    </header>

    <main>
        {% block main %}

            {% if user %}

            <h1>Привет, {{ user }}!</h1>
            <h2>Добро пожаловать на наш сайт!</h2>
            <div>Ваш возраст: {{ age }}</div>
            <div>Ваш пол: {{ 'мужской' if sex == 'male' else 'женский' }}</div>
            <div>
                <a href="/lab3/form1/">Заново</a>
            </div>

            {% else %}

            <h1>Пользователь</h1>

            <form>
                <label>Ваше имя:</label>
                <div>
                    <input type="text" placeholder="Как вас зовут?" name="user" value="{{ user or ''}}">
                    <span class="error">{{ errors.user }}</span>
                </div>

                <label>Ваш возраст:</label>
                <div>
                    <input type="number" name="age" value="{{ age or ''}}">
                    <span class="error">{{ errors.age }}</span>
                </div>

                <label>Ваш пол:</label>
                <div>
                    <select name="sex">
                        <option value="male" {{ sex == 'male' and 'selected' }}>Мужчина</option>
                        <option value="female"{{ sex == 'female' and 'selected' }}>Женщина</option>
                </div>

                <div>
                    <button type="submit">Отправить</button>
                </div>
            </form>

            {% endif %}
        {% endblock %}
    </main>

    <footer>
        &copy;Санданова Виктория, ФБИ-22, 3 Курс, 2024
    </footer>
</body>
</html>