{% extends "base.html" %}  
  
{% block lab %}Лабораторная работа 5 {% endblock %}  
  
{% block main %}  
    <h1>Статьи</h1>  

    {% if articles|length == 0 %}  
        <p>У вас нет ни одной статьи.</p>  
    {% else %}  
        {% for article in articles %}  
            <h2>{{ article['title'] }}</h2>
            <blockquote>{{ article['article_text'] }}</blockquote>
            <a href="{{ url_for('lab5.edit') }}">Редактировать</a>
            <form method="POST" action="{{ url_for('lab5.delete') }}">
                <input type="hidden" name="article_id" value="{{article['id']}}">
                <button onclick="return confirm('Вы уверены, что хотите удалить эту статью?');">Удалить
                </button>
            </form>
        {% endfor %}
    {% endif %}  
      
{% endblock %}
